1.program to print multiplication table of a given numbers

In [1]:
num=int(input('Enter a number : '))
for i in range(1,11):
  mult=i*num
  print(i,' * ',num,' = ',mult)

Enter a number : 12
1  *  12  =  12
2  *  12  =  24
3  *  12  =  36
4  *  12  =  48
5  *  12  =  60
6  *  12  =  72
7  *  12  =  84
8  *  12  =  96
9  *  12  =  108
10  *  12  =  120

2.program to print unique elements from a list

li=[1,2,2,3,5,4,4]

In [20]:
li=[1,2,2,3,5,4,4]
a=set(li)
b=list(a)
b

[1, 2, 3, 4, 5]

3.print sum of dictionary values

In [24]:
d1={
    'a':2,
    'b':4,
    'c':16,
    'd':25,
    'e':30
}
val=d1.values()
print(val)
sum=0
for i in val:
  sum=sum+i
print(sum)

dict_values([2, 4, 16, 25, 30])
77

4.print largest number among 3 number

In [5]:
a=int(input('Enter the 1st number : '))
b=int(input('Enter the 2nd number : '))
c=int(input('Enter the 3rd number : '))
if((a>b) and (a>c)):
  print(a,' is greater .')
elif((b>a) and (b>c)):
  print(b,' is greater .')
else:
  print(c,' is greater .')

Enter the 1st number : 9
Enter the 2nd number : 2
Enter the 3rd number : 18
18  is greater .

5.program to print if a given year is leap year or not

In [50]:
yr=int(input('Enter a year : '))
if((yr%4==0) or (yr%400==0) and (yr%100!=0)):
  print(yr,' is a leap year . ')
else:
  print(yr,' not a leap year')

Enter a year : 2008
2008  is a leap year .